.auth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.auth h1{
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 150px;
}

.auth button{
    height: 100px;
    width: 500px !important;
    background-color: #00009C;
    color:white;
    font-size: 35px;
}

.btn-primary{
    width: 100% !important;
    background-color: #00009C !important;
    color: white !important;
    font-size:60px;
}

.btn-primary a:hover{
    color:white !important;
    text-decoration: none;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    padding:0;
}

.menu ul li{
    list-style: none;
    margin-top: 15%;
    padding: 0;
    color:white;
}

.menu ul{
    padding:0;
}


.menu Button{
    width: 100% !important;
    background-color: #00009C;
    color: white !important;
    font-size:60px;
}

Button a:hover{
    background-color: transparent !important;
    color:white !important;
    text-decoration: none;
}

a{
    text-decoration: none;
    font-size: 60px;
    color:white !important;
}


